body{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #e4e4e4;
}
.container{
    padding: 5px 5px 5px 5px;
    width: 100%;
    background-color: #c9c9c9;
}
h2{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col-md-8{
    padding-top: 105px;
}
h1{
    text-decoration: underline;
    background-color: #aaaaaaaa;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1:first-of-type{
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e4e4e4;
}
th,td{
    padding: 5px 5px 5px 5px;
}
dd,td,li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}